.main-content {
  padding: 28px 32px;
  background-color: var(--bg-color);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content>* {
  width: 100%;
}

@media (max-width: 768px) {
  .main-content {
    padding: 16px 20px;
  }
}